:root {
  --theme: oklch(65% 0.1 120);
  --theme-light: oklch(85% 0.1 120);
  --theme-dark: oklch(35% 0.1 120);
}

@view-transition {
  navigation: auto;
}

html {
  scrollbar-gutter: stable;
  background-color: var(--theme);
}

body {
  width: 70%;
  max-width: 600px; /* Add a max-width for very wide screens */
  margin: 20px auto;
  font-family: sans-serif;
  line-height: 1.5;
  padding: 20px;
  background-color: whitesmoke;
}

main {
  margin-bottom: 20px;
}

