div.book-list {
  overflow-x: auto;

  table {
    border-collapse: collapse;
    width: 100%;
    min-width: fit-content;
  }

  th,
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: #f2f2f2;
  }

  td > img {
    height: 200px;
  }
}

